body {
    background-color: #2f394d;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#quote-box {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 10% auto;
    max-width: 600px;
    padding: 30px;
}

#text {
    color: #2f394d;
    font-size: 2em;
    margin-bottom: 20px;
}

#author {
    color: #2f394d;
    font-size: 1.2em;
    margin-bottom: 20px;
}

button {
    background-color: #2f394d;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    padding: 10px 20px;
    transition: background-color 0.5s ease;
}

button:hover {
    background-color: rgb(30, 219, 30);
    color: #fff;
}
#twiter-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
